<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  </head>
  <body>
    <footer id="footer">-
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fas fa-envelope"></i>
      <p id="footer-para">© Copyright 2020 COVID-19 Utility</p>
  
    </footer>
  </body>
</html>
