<!DOCTYPE html><html>
<head>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
<link rel="stylesheet" href="/css/chat_dashboard.css">
<link rel="stylesheet" href="css/bootstrap.css" />
<script src="/js/messenger.js"></script>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="css/styles.css" />

</head>

<body>
	
	<nav class="navbar navbar-expand-md navbar-dark bg-primary" style="margin-bottom: 0px; background-color: #417AFF!important;">
		<div class="container">
		  <a class="navbar-brand" href="/"><i class="fas fa-briefcase-medical"></i> COVID-19 Utility</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
			<span class="navbar-toggler-icon"></span>
		  </button>
	
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
				  <i class="fas fa-user"></i> Account
				</a>
				<div class="dropdown-menu">
				  <a class="dropdown-item" href="/managePoints">Manage Points</a>
				  <a class="dropdown-item" href="/manageReviews">Manage Reviews</a>
				  <a class="dropdown-item" href="/manageAccount">Manage Account</a>
				  <div class="dropdown-divider"></div>
				  <a class="dropdown-item" href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
				</div>
			  </li>
			</ul>
		  </div>
		</div>
	  </nav>
	<div class="bottom">
<div id="frame">
	<div id="sidepanel">
		
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts..." />
		</div>

		<div id="contacts">
			<ul id="contactList">
				
			</ul>
		</div>
		<div id="bottom-bar">
			<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
			<button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
		</div>
	</div>
	<div class="content">
		<div class="messages">
			<ul id="messageBox">
			</ul>
		</div>
		<div class="message-input">
			<div class="wrap">
			<input type="text" placeholder="Write your message..." id="formData"/>
			<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
			<button onclick="newMessage()" ><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</div>
</div>
<script>
socket.current = io("ws://localhost:8900");
socket.current.on("getMessage", (data) => {
  setArrivalMessage({
	sender: data.senderId,
	text: data.text,
	createdAt: Date.now(),
  });
});


</script>
</body></html>