<!DOCTYPE html>

<head>
	<title>COVID-19 TESTING</title>
</head>

<body>
	<p>PREDICTION: <%=predictionOutput.prediction %> </p>
	<p>PROBABILITY: <%= predictionOutput.probability %> </p>

</body>



</html>