<!DOCTYPE html>

<head>
    <title>COVID-19 Utility</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/"><i class="fas fa-briefcase-medical"></i> COVID-19 Utility</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown">
                            <i class="fas fa-user"></i> Account
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/managePoints">Manage Points</a>
                            <a class="dropdown-item" href="/manageReviews">Manage Reviews</a>
                            <a class="dropdown-item" href="/manageAccount">Manage Account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <h1 style="text-align: center;">COVID-19 Prediction using Chest X-Ray</h1>
        <hr>
        <div class="row">
            <div style="text-align: center;" class="col-lg-6">
                <input id="image-selector" type="file"></div>
            <div style="text-align: center;" class="col-lg-6">
                <button class="btn btn-primary btn-lg" id="predict-button">Predict</button></div>
            <br>
            <br>
            <br>
            <br>
            <img style="display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;" id="selected-image" width="400" src="" />
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    let base64Image;
    $("#image-selector").change(function () {
        let reader = new FileReader();
        reader.onload = function (e) {
            let dataURL = reader.result;
            $('#selected-image').attr("src", dataURL);
            base64Image = dataURL.replace(/^data:image\/(png|jpg|jpeg);base64,/, "");
            console.log(base64Image);
        }
        reader.readAsDataURL($("#image-selector")[0].files[0]);

    });

    $("#predict-button").click(function () {
        let message = {
            image: base64Image
        }
        console.log(message);
        $.post("/prediction/covid", message, function (response) {
            window.location.href = response.redirectTo;

        });
    });
</script>

</html>